<section class="cta">
  <div class="container">
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item">
        <i class="fa fa-calendar"></i>
        <h2>Schedule A Visit</h2>
        <p>Schedule a visit today and see why so many seniors are glad to call us home.</p>
		<a href="contact.html" class="btn btn-main">Schedule A Visit</a>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item">
        <i class="fa fa-briefcase"></i>
        <h2>Employment</h2>
        <p>Antlers Nursing Home is looking to add to our team. Please see our current listing of available positions.</p>
        <a href="appointment.html" class="btn btn-main">Employment Opportunities</a>
      </div>
      <div class="col-lg-4 col-md-12 working-time item">
        <i class="fa fa-hourglass-o"></i>
        <h2>Opening Hours</h2>
        <ul class="w-hours">
          <li>Office Hours Monday - Friday - <span>8:00 AM - 5:00 PM</span></li>
          <li>Visiting Hours - <span>24/7</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>